{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- content starts here -->

<div class="container px-4 py-5 cols-2">
    <div class="mb-3" style="max-width: 540px;">
        <h2>Welcome {{ user.username }} to your page</h2>
        <div class="pattern-list patterns-like">
        <strong>Patterns I like:</strong>
        <ul>
            {% for pattern_name, pattern_slug in pattern_names %}
            <li>
                <a href="{% url 'pattern_details' slug=pattern_slug %}">{{ pattern_name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="pattern-list patterns-created">
        <strong>Patterns I created:</strong>
        <ul>
            {% for pattern_name, pattern_slug in my_patterns %}
            <li>
                <a href="{% url 'pattern_details' slug=pattern_slug %}">{{ pattern_name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="pattern-list patterns-to-knit">
        <strong>What I will knit:</strong>
    </div>
</div>
</div>


<!-- content ends here -->

{% endblock content %}