{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- content starts here -->
<div class="container px-4 py-5 cols-2">
    <div class="mb-3" style="max-width: 540px;">
        <h2>Welcome {{ user.username }} to your page</h2>
        <p>Patterns I like:</p>
        <ul>
            {% for pattern in patterns %}
            <li>{{ pattern.pattern_name }}
                {% if pattern.slug %}
                <a href="{% url 'pattern_details' slug=pattern.slug %}">View pattern</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <p>Patterns I created</p>
        <p>What I will knit:</p>
    </div>
</div>


<!-- content ends here -->

{% endblock content %}