{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- content starts here -->

<div class="container px-4 py-5 cols-2">
    <div class="mb-3" style="max-width: 540px;">
        <h2>Welcome {{ user.username }} to your page</h2>
        <div class="pattern-list patterns-like">
            <h4>Patterns I like:</h4>
            <ul>
                {% for pattern_name, pattern_slug in pattern_names %}
                <li>
                    <strong><a href="{% url 'pattern_details' slug=pattern_slug %}"
                            class="link-dark">{{ pattern_name }}</a></strong>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="pattern-list patterns-created">
            <h4>Patterns I created:</h4>
            <ul>
                {% for pattern_name, pattern_slug in my_patterns %}
                <li>
                    <strong><a href="{% url 'pattern_details' slug=pattern_slug %}"
                            class="link-dark">{{ pattern_name }}</a></strong>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="pattern-list patterns-to-knit">
            <h4>What I will knit:</h4>
            {% if project_patterns %}
            <ul>
                {% for pattern_name, slug in project_patterns %}
                <li><strong><a href="{% url 'pattern_details' slug=slug %}"
                            class="link-dark">{{ pattern_name }}</a></strong></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No patterns in your project list yet.</p>
            {% endif %}
        </div>
    </div>
</div>


<!-- content ends here -->

{% endblock content %}