{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    .darkened-img {
        background-image: linear-gradient(rgba(10, 78, 96, 0.5), rgba(0, 0, 0, 0.5));
    }
</style>

<!-- Content starts here -->
<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Patterns</h2>
    <a href="{% url 'add_pattern' %}" class="btn btn-primary">Add Pattern</a>
    <div class="row g-4 py-5">
        <!-- Pattern cards -->
        {% for pattern in object_list %}
        <div class="col mb-4">
            <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('{{ pattern.featured_image.url }}'); background-size: cover; background-position: center; margin-bottom: 20px;">
                <div class="d-flex flex-column p-5 pb-3 text-white darkened-img">
                    <div class="d-flex"><i class="fa-solid fa-thumbs-up"></i>{{ pattern.like_count }}</div>
                    <h3 class="pt-5 mt-5 display-7 lh-1 fw-bold">{{ pattern.pattern_name }}</h3>
                    <h4 class="mb-4">by {{ pattern.created_by }}</h4>

                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="d-flex align-items-center me-3">
                            <small><strong>Difficulty level:
                                    <br>
                                </strong> {{ pattern.get_difficulty_level_display }}</small>
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <small><strong>Gauge:
                                    <br>
                                </strong> {{ pattern.gauge }}</small>
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <small><strong>Needle size:
                                    <br>
                                </strong> {{ pattern.needle_size }}</small>
                        </li>
                    </ul>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="d-flex align-items-center">
                            {% if pattern.slug %}
                            <small><a href="{% url 'pattern_details' slug=pattern.slug %}" class="link-info">View
                                    pattern</a></small>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Content ends here -->
{% endblock %}